.bgHeader {
    background-color: #F2F2F2;
    padding-right: 30px !important;
}
.fs18 {
    font-size: 18px;
}

.textDesign {
    font-weight: 700;
    margin-left: 70px;
}

.bgFooter {
    background: url("/assets/footer-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #f7f6f1;
    color: #818181;
}

.logo {
    height: 66px;
    width: 160px;
}

.fontW {
    font-weight: 700;
    font-size: 19px;
    color: gray;
    text-decoration: none;
}

.rowWidth {
    width: 650px;
    margin-top: 40px;
}

.iconBg {
    background-color: #a5bd3a;
    padding: 5px 9px 5px 9px;
    border-radius: 50%;
    color: white;
    display: block;
}